* {
  text-transform: none !important;
}

.post__content h1 {
  font-size: 2.7rem !important;
  line-height: 1.5em !important;
}

.post__content h3 {
  font-size: 2rem !important;
  line-height: 1.5em !important;
  text-transform: none !important;
}

.post__content h3 a {
  text-transform: none !important;
}

@media screen and (min-width: 961px) {
  .wrapper__sidebar {
    width: calc(calc(1 - 0.6) * 70%) !important;
  }
}

.store-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unset;
}
.store-area-li {
  list-style: none;
}

